$black: #000000;
$white: #ffffff;
$gray: #f3f3f3;
$gray-secondary: #d0d0d0;
$black-secondary: #242424;
$brown: #c2b0a4;
$green: #00cf77;
$orange: #ff9200;
$orange-test: #f84f0c;

$text-primary: $black-secondary;
$background-primary: $gray;
$primary: $orange;

$font-family-sans-serif: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji" !default;
$ff: "Roboto", $font-family-sans-serif;


// Grid breakpoints
//
// Define the minimum dimensions at which your layout will change,
// adapting to different screen sizes, for use in media queries.

$grid-breakpoints: (
  xs: 0,
  sm: 576px,
  md: 768px,
  lg: 992px,
  xl: 1200px
) !default;

// Grid containers
//
// Define the maximum width of `.container` for different screen sizes.

$container-max-widths: (
  sm: 540px,
  md: 720px,
  lg: 960px,
  xl: 1140px
) !default;

// Grid columns
//
// Set the number of columns and specify the width of the gutters.

$grid-columns: 12;
$grid-gutter-width: 50px;
