{% set
  list = [
  {
    title: 'Item1'
  },
  {
    title: 'Item2'
  }
] %}

{% set
  promoSlides = [
  {
    title: 'Promo slider 1',
    subtitle: 'promo subtitle 1',
    buttonText: 'Join now!'
  },
  {
    title: 'Promo slider 2',
    subtitle: 'promo subtitle 2',
    buttonText: 'Join now!!'
  },
  {
    title: 'Promo slider 3',
    subtitle: 'promo subtitle 3',
    buttonText: 'Join now!!!'
  },
  {
    title: 'Promo slider 4',
    subtitle: 'promo subtitle 4',
    buttonText: 'Join now!!!!'
  }
] %}
