{% import "partials/_mixins.html" as mixins %}
<!doctype html>
<html class="no-js" lang="ru">
<head>
  <meta charset="utf-8"/>
  <title>{% if title %}{{ title }}{% else %}Template{% endif %}</title>
  <meta http-equiv="X-UA-Compatible" content="IE=Edge"/>
  <meta name="viewport" content="width=device-width, initial-scale=1"/>
  <meta name="theme-color" content="#fff"/>
  <meta name="format-detection" content="telephone=no"/>
  <link rel="stylesheet" media="all" href="css/main.css"/>
  <script>
      document.documentElement.className = document.documentElement.className.replace(/\bno-js\b/g, '') + ' js ';
  </script>
  {# {% include "../partials/_media-tags.html" %} #}
</head>
<body>

<!-- BEGIN content -->
<div class="page-wrapper">
  {% block content %}{% endblock %}
</div>
<!-- END content -->

<!-- build:js js/libs.min.js -->

<script src="node_modules/swiper/swiper-bundle.min.js"></script>
<script src="node_modules/jquery/dist/jquery.min.js"></script>
<script src="node_modules/@fancyapps/fancybox/dist/jquery.fancybox.min.js"></script>
<script src="node_modules/svg4everybody/dist/svg4everybody.min.js"></script>
<!-- endbuild -->

<!-- BEGIN scripts -->
<script src="js/main.js"></script>
<!-- END scripts -->

</body>
</html>
