// Change from `box-sizing: content-box` so that `width` is not affected by `padding` or `border`.
*,
*::before,
*::after {
  box-sizing: border-box; 
}

/* Base styles start*/
body {
	background-color: #fff;
	font-family: $ff;
}
/* Base styles end*/

// .container {
//   @include make-container();
//   @include make-container-max-widths();
// }
