// SCSS variables are information about icon's compiled state, stored under its original file name
//
// .icon-home {
//   width: $icon-home-width;
// }
//
// The large array-like variables contain all information about a single icon
// $icon-home: x y offset_x offset_y width height total_width total_height image_path;
//
// At the bottom of this section, we provide information about the spritesheet itself
// $spritesheet: width height image $spritesheet-sprites;
$-facebook-name: 'Facebook';
$-facebook-x: 0px;
$-facebook-y: 0px;
$-facebook-offset-x: 0px;
$-facebook-offset-y: 0px;
$-facebook-width: 29px;
$-facebook-height: 29px;
$-facebook-total-width: 66px;
$-facebook-total-height: 29px;
$-facebook-image: '../img/icons.png';
$-facebook: (0px, 0px, 0px, 0px, 29px, 29px, 66px, 29px, '../img/icons.png', 'Facebook',);
$warehouse-name: 'warehouse';
$warehouse-x: 39px;
$warehouse-y: 0px;
$warehouse-offset-x: -39px;
$warehouse-offset-y: 0px;
$warehouse-width: 27px;
$warehouse-height: 22px;
$warehouse-total-width: 66px;
$warehouse-total-height: 29px;
$warehouse-image: '../img/icons.png';
$warehouse: (39px, 0px, -39px, 0px, 27px, 22px, 66px, 29px, '../img/icons.png', 'warehouse',);
$-facebook-2x-name: 'Facebook@2x';
$-facebook-2x-x: 0px;
$-facebook-2x-y: 0px;
$-facebook-2x-offset-x: 0px;
$-facebook-2x-offset-y: 0px;
$-facebook-2x-width: 58px;
$-facebook-2x-height: 58px;
$-facebook-2x-total-width: 132px;
$-facebook-2x-total-height: 58px;
$-facebook-2x-image: 'sprite@2x.png';
$-facebook-2x: (0px, 0px, 0px, 0px, 58px, 58px, 132px, 58px, 'sprite@2x.png', 'Facebook@2x',);
$warehouse-2x-name: 'warehouse@2x';
$warehouse-2x-x: 78px;
$warehouse-2x-y: 0px;
$warehouse-2x-offset-x: -78px;
$warehouse-2x-offset-y: 0px;
$warehouse-2x-width: 54px;
$warehouse-2x-height: 44px;
$warehouse-2x-total-width: 132px;
$warehouse-2x-total-height: 58px;
$warehouse-2x-image: 'sprite@2x.png';
$warehouse-2x: (78px, 0px, -78px, 0px, 54px, 44px, 132px, 58px, 'sprite@2x.png', 'warehouse@2x',);
$spritesheet-width: 66px;
$spritesheet-height: 29px;
$spritesheet-image: '../img/icons.png';
$spritesheet-sprites: ($-facebook, $warehouse,);
$spritesheet: (66px, 29px, '../img/icons.png', $spritesheet-sprites,);
$retina-spritesheet-width: 132px;
$retina-spritesheet-height: 58px;
$retina-spritesheet-image: 'sprite@2x.png';
$retina-spritesheet-sprites: ($-facebook-2x, $warehouse-2x,);
$retina-spritesheet: (132px, 58px, 'sprite@2x.png', $retina-spritesheet-sprites,);

// These "retina group" variables are mappings for the naming and pairing of normal and retina sprites.
//
// The list formatted variables are intended for mixins like `retina-sprite` and `retina-sprites`.
$-facebook-group-name: 'Facebook';
$-facebook-group: ('Facebook', $-facebook, $-facebook-2x,);
$warehouse-group-name: 'warehouse';
$warehouse-group: ('warehouse', $warehouse, $warehouse-2x,);
$retina-groups: ($-facebook-group, $warehouse-group,);

// The provided mixins are intended to be used with the array-like variables
//
// .icon-home {
//   @include sprite-width($icon-home);
// }
//
// .icon-email {
//   @include sprite($icon-email);
// }
//
// Example usage in HTML:
//
// `display: block` sprite:
// <div class="icon-home"></div>
//
// To change `display` (e.g. `display: inline-block;`), we suggest using a common CSS class:
//
// // CSS
// .icon {
//   display: inline-block;
// }
//
// // HTML
// <i class="icon icon-home"></i>
@mixin sprite-width($sprite) {
  width: nth($sprite, 5);
}

@mixin sprite-height($sprite) {
  height: nth($sprite, 6);
}

@mixin sprite-position($sprite) {
  $sprite-offset-x: nth($sprite, 3);
  $sprite-offset-y: nth($sprite, 4);
  background-position: $sprite-offset-x  $sprite-offset-y;
}

@mixin sprite-image($sprite) {
  $sprite-image: nth($sprite, 9);
  background-image: url(#{$sprite-image});
}

@mixin sprite($sprite) {
  @include sprite-image($sprite);
  @include sprite-position($sprite);
  @include sprite-width($sprite);
  @include sprite-height($sprite);
}

// The `retina-sprite` mixin sets up rules and a media query for a sprite/retina sprite.
//   It should be used with a "retina group" variable.
//
// The media query is from CSS Tricks: https://css-tricks.com/snippets/css/retina-display-media-query/
//
// $icon-home-group: ('icon-home', $icon-home, $icon-home-2x, );
//
// .icon-home {
//   @include retina-sprite($icon-home-group);
// }
@mixin sprite-background-size($sprite) {
  $sprite-total-width: nth($sprite, 7);
  $sprite-total-height: nth($sprite, 8);
  background-size: $sprite-total-width $sprite-total-height;
}

@mixin retina-sprite($retina-group) {
  $normal-sprite: nth($retina-group, 2);
  $retina-sprite: nth($retina-group, 3);
  @include sprite($normal-sprite);

  @media (-webkit-min-device-pixel-ratio: 2),
  (min-resolution: 192dpi) {
    @include sprite-image($retina-sprite);
    @include sprite-background-size($normal-sprite);
  }
}

// The `sprites` mixin generates identical output to the CSS template
//   but can be overridden inside of SCSS
//
// @include sprites($spritesheet-sprites);
@mixin sprites($sprites) {
  @each $sprite in $sprites {
    $sprite-name: nth($sprite, 10);
    .#{$sprite-name} {
      @include sprite($sprite);
    }
  }
}

// The `retina-sprites` mixin generates a CSS rule and media query for retina groups
//   This yields the same output as CSS retina template but can be overridden in SCSS
//
// @include retina-sprites($retina-groups);
@mixin retina-sprites($retina-groups) {
  @each $retina-group in $retina-groups {
    $sprite-name: nth($retina-group, 1);
    .#{$sprite-name} {
      @include retina-sprite($retina-group);
    }
  }
}
