include ../mixins/all
doctype html
html
  head
    block head 
      include _head

  body()
    //BEGIN page-wrapper
    .page-wrapper
      block header
        //START header
        include ../partials/_header
        //END header
      block content
      block footer
        //START footer
        include ../partials/_footer
        //END footer
    //END page-wrapper

    //LOAD SCRIPTS
    block scripts
      script(type="text/javascript" src="js/svg4everybody.min.js")
      script svg4everybody();
      != "\n"
      // build:js js/libs.min.js
      script(type="text/javascript" src="node_modules/jquery/dist/jquery.min.js")
      script(type="text/javascript" src="node_modules/swiper/js/swiper.min.js")
      script(type="text/javascript" src="node_modules/aos/dist/aos.js")
      != ("\n" + "<!-- endbuild -->")
      script(type="text/javascript" src="js/main.js")
