include ../mixins/all
doctype html
html
  head
    block head 
      include _head

  body()
    //BEGIN page-wrapper
    .page-wrapper
      block header
        //START header
        include ../partials/_header
        //END header
      block content
      block footer
        //START footer
        include ../partials/_footer
        //END footer
    //END page-wrapper

    //LOAD SCRIPTS
    block scripts
      script(type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js")
      script(type="text/javascript" src="js/main.js")
