include ../mixins/all
- var endBuildComment = "\n" + "<!-- endbuild -->"
doctype html
html
  head
    block head
      include _head

  body()
    //BEGIN page-wrapper
    .page-wrapper
      block header
        //START header
        include ../partials/_header
        //END header
      block content
      block footer
        //START footer
        include ../partials/_footer
        //END footer
    //END page-wrapper

    //LOAD SCRIPTS
    block scripts
      // build:js js/svg4everybody.min.js
      script(src="node_modules/svg4everybody/dist/svg4everybody.min.js")
      != endBuildComment

      script svg4everybody();
      != "\n"

      // build:js js/libs.min.js
      script(src="node_modules/jquery/dist/jquery.min.js")
      script(src="node_modules/swiper/js/swiper.min.js")
      script(src="node_modules/aos/dist/aos.js")
      != endBuildComment

      script(src="js/main.js")
